/* Write your CSS here */

.menu_style {
  height: 40px;
  width: 40px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}
.PopupLinkStyle {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-family: 'Roboto';
}

.home_icon_img {
  height: 40px;
  width: 40px;
  color: black;
}

.about_icon_img {
  height: 40px;
  width: 40px;
  color: black;
  margin-right: 15px;
}

.close_icon {
  height: 30px;
  width: 30px;
}

@media (min-width: 768px) {
  .home_icon_img {
    height: 50px;
    width: 50px;
  }

  .about_icon_img {
    height: 50px;
    width: 50px;
    margin-right: 25px;
  }
}
